<nav class="navbar navbar-inverse navbar-static-top">
 	<div class="container clearfix">
 	<img class="logo" src="<%= image_url "monkodevlogo.png" %>">
 	<img class="logoblog" src="<%= image_url "logosuperblog.png" %>">
    	<ul class="nav navbar-nav navbar-right">
    	<% if user_signed_in? %>
    			<li><%= link_to "Nuevo Post", new_post_path %></li> 
    			<li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li> 
    		<% else %>
       			<li><%= link_to "Ingresar", new_user_session_path %></li> 
    			<li><%= link_to "Registrarse", new_user_registration_path %></li>  
    		<% end %>	
    				
    	</ul>
  </div>
</nav>
<div class="container">
	<% @post.each do |p| %>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="estiloindex">
			  <h3><%= p.titulo %> </h3>
			  <h4><small>Publicado por <%= p.user.email %> hace alrededor de <%= (Time.now - p.created_at).to_i %></small></h4>
			  <p><%= p.texto %></p>
			 </div>
			 		
		</div>
	</div>
	<% end %>

</div>

