<nav class="navbar navbar-inverse navbar-static-top">
 	<div class="container clearfix">
 	<img class="logo" src="<%= image_url "monkodevlogo.png" %>">
 	<img class="logoblog" src="<%= image_url "logosuperblog.png" %>">
    	<ul class="nav navbar-nav navbar-right">
    	<% if user_signed_in? %>
    			<li><%= link_to "Nuevo Post", new_post_path %></li> 
    			<li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li> 
    		<% else %>
       			<li><%= link_to "Ingresar", new_user_session_path %></li> 
    			<li><%= link_to "Registrarse", new_user_registration_path %></li>  
    		<% end %>	
    				
    	</ul>
  </div>
</nav>

<% flash.each do |name, msg| -%>
<div class="alert alert-success">
      <%= content_tag :div, msg, class: name %>
</div>
 <% end -%>

<div class="container">
	<% @post.each do |p| %>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="estiloindex">
			  <h3> <%= link_to p.titulo, p %> </h3>
			  <h4><small>Publicado por <%= p.user.email %> hace alrededor de 
			  	<% dife = (Time.now - p.created_at).to_i %>
			  	<% if (dife > 31536000) %>
			  		<%= (dife/31536000).to_i %> años
			  	<% else %>
			  		<% if (dife > 2592000) %>
			  			<%= (dife/2592000).to_i %> meses
			  			<% else %>
			  				<% if (dife > 86400) %>
			  					<%= (dife/86400).to_i %> días
			  					<% else %>
			  					<% if (dife > 3600) %>
			  						<%= (dife/3600).to_i %> horas
			  					<% else %>
			  						<% if (dife > 60) %>
			  						<%= (dife/60).to_i %> minutos
			  						<% else %>
			  						<%= dife %> segundos
			  						<% end %>
			  					<% end %>
			  				<% end %>
			  			<% end %>
			  	<% end %>
			  	
			  </small></h4>
			  <p>
			  <% if p.texto.size>250 %>
			  	<%= p.texto[0..250]+"..." %>
			  <% else %>
			  	<%= p.texto %>
			  	<% end %>
			  	</p>
			  		<% if (current_user==nil) %>

			  		<% else %>

			  		<% if (p.user_id==current_user.id) %>
			  			<span class="glyphicon glyphicon-pencil" aria-hidden="true"><%= link_to 'Editar', edit_post_path(p) %>
			  			</span>
			  			<span class="glyphicon glyphicon-trash" aria-hidden="true"><%= link_to 'Eliminar', post_path(p),
                    	method: :delete, data: { confirm: 'Está seguro que desea eliminar el post?' } %>
			  			</span>
			  			
			  			
			  			<% end %>	
			  		<% end %>			  	
			 </div>			 		
		</div>
	</div>
	<% end %>

</div>