<nav class="navbar navbar-inverse navbar-static-top">
 	<div class="container clearfix">
 	<img class="logo" src="<%= image_url "monkodevlogo.png" %>">
 	<img class="logoblog" src="<%= image_url "logosuperblog.png" %>">
    	<ul class="nav navbar-nav navbar-right">
    		<% if user_signed_in? %>
    			<li><%= link_to "Nuevo Post", new_post_path %></li> 
    			<li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li> 
    		<% else %>
       			<li><%= link_to "Ingresar", new_user_session_path %></li> 
    			<li><%= link_to "Registrarse", new_user_registration_path %></li>  
    		<% end %>		  		
    	</ul>
  </div>
</nav>
<div class="container">
	<div class="row">
	<p><a class="btn btn-primary btn-sm" href="/" role="button">Volver</a></p>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
				<% if @post.errors.any? %>
				  <div class="alert alert-danger">
				    <ul>
				    <% @post.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% end %>
				<h1 class=""><%= @post.titulo %></h1>
				<p class=""><%= raw Markdown.new(@post.texto).to_html %></p>
		</div>  		
	</div>
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h4>Comentarios</h4>
			<% @post.comentarios.each do |comment| %>
			  <div class="panel panel-default">
			    <div class="panel-heading"><%= comment.user.email %> comentó hace 
			    		<% dife = (Time.now - comment.created_at).to_i %>
			    		<% if (dife > 31536000) %>
			    			<%= (dife/31536000).to_i %> años
			    		<% else %>
			    			<% if (dife > 2592000) %>
			    				<%= (dife/2592000).to_i %> meses
			    				<% else %>
			    					<% if (dife > 86400) %>
			    						<%= (dife/86400).to_i %> días
			    						<% else %>
			    						<% if (dife > 3600) %>
			    							<%= (dife/3600).to_i %> horas
			    						<% else %>
			    							<% if (dife > 60) %>
			    							<%= (dife/60).to_i %> minutos
			    							<% else %>
			    							<%= dife %> segundos
			    							<% end %>
			    						<% end %>
			    					<% end %>
			    				<% end %>
			    		<% end %>
			    </div>
			    <div class="panel-body"><%= comment.cuerpo %></div>
			  </div>
			<% end %>
			<% if signed_in? %>
			  <%= form_for [@post, @post.comentarios.build] do |f| %>
			    <div class="form-group">
			      <%= f.text_area :cuerpo, class: "form-control", placeholder: "Agregar comentario" %>
			    </div>

			    <div class="actions text-right">
			      <%= f.submit "Comentar", class: "btn btn-primary" %>
			    </div>
			  <% end %>
			<% end %>

			</div>
	</div>
</div>